<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Upcoming">
    <button (click)="showAllData()" class="tab-buttons">All</button>
    <ng-container *ngFor="let button of tabs">
      <button (click)="getFilteredData(button)" class="tab-buttons">{{ button.name }}</button>
    </ng-container>
    
    <div *ngIf="showFiltered; else allMatches" style="
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
">
    <!-- <div style="display: flex; flex-wrap: wrap;"> -->
            <div class="card" *ngFor="let match of filteredData">
              <div class="card-content">
                <p>{{ match.match_number_with_format }}</p>
                <p>{{ match.venue_location }}</p>
                <div style="display: flex; align-items: center;">
                  <img src="{{ match.t1_flag }}" alt="Team 1 Flag">
                  <p>{{ match.t1_key }}</p>
                  <p>vs</p>
                  <p>{{ match.t2_key }}</p>
                  <img src="{{ match.t2_flag }}" alt="Team 2 Flag">
                </div>
                <p>{{ match.venue_country }}</p>
              </div>
            </div>
          <!-- </div> -->
    </div>
    
    
    
    <ng-template #allMatches>
      <div class="section-title" *ngFor="let item of getKeys(matchesData)">
        <div class="main-title">{{ item }}</div>
        <ng-container *ngFor="let tournament of getKeys(matchesData[item])">
          <h3 style="text-align: left;">
            <p style="text-decoration: none;color: #2c9bff;font-family: sans-serif;">{{ tournament }}</p>
          </h3>
          <div style="display: flex;">
            <div class="card" *ngFor="let match of matchesData[item][tournament]">
              <span style="display: flex; font-family: sans-serif;">
                <p>{{match.match_number_with_format }} </p> <p>•</p> <p> {{ match.venue_location}} </p>
              </span>
              <div style="display: flex; justify-content: space-between;">
                <span class="left" style="font-family: sans-serif; font-weight: 700; color: #a0a0a0;">
                  <p style="display: flex; justify-content: space-between;">
                    <span>
                      <img  src={{match.t1_flag}} alt="flg">
                    </span>
                    <span style="margin: 0 10px;">
                      {{ match.t1_key }}
                    </span>
                  </p>
                  <p style="display: flex; justify-content: space-between;">
                    <span>
                      <img  src={{match.t2_flag}} alt="flg">
                    </span>
                    <span>
                      {{ match.t2_key }}
                    </span>
                  </p>
                </span>
                <span class="right">
                  <p> {{ match.venue_country }}</p>
                </span>
                </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template> </mat-tab>

</mat-tab-group>